{{!-- <div class="about white-text"> --}}
{{!--     <h5 class="grey lighten-4 grey-text text-darken-1">Your very own Flashcard Library</h5>
 --}}    {{!-- <h2>Flash..FlCards</h2> --}}
    {{!-- <h4>Create your very own Flashyard learning system. You can pick courses, particular subjects, and even add your own notes. YOU ARE THE BOSS!</h4> --}}


    {{!-- <div class="row"> --}}
      {{!-- <div class="col s12 m4 l4"> --}}
        {{!-- <h6>Flash Method</h6> --}}
        {{!-- <p>Are you a rebelious self-learner, you dont like to follow rules, you want to tailor your learning dependent upon, your individual learning style...Look no further.. We are your new learning resource, so that YOU can create your own learning
              environment. </p> --}}
      {{!-- </div> --}}
    {{!-- </div>
</div>
 --}}
