<form class="new-form" {{action 'save' on='submit'}}>
<label for="name">Front</label>
  {{input type='text' value=frontText}}

<label for="description">Back</label>
  {{input type='text' value=backText}}

    <button type='submit'>Save</button>
</form>
