<form class="new-form" {{action 'save' on='submit'}}>
<label for="name">Front</label>
  {{input type='text' value=front}}

<label for="description">Back</label>
  {{input type='text' value=back}}

<label for="category">Category</label>
  {{input type='text' value=category}}

    <button type='submit'>Save</button>
</form>
