<li>{{#link-to 'courses.card-sets.cards.create'}}Create New Card{{/link-to}}</li>

{{#each model.cards as |card|}}
<div class="row">
    <div class="col s12">
    <div class="col s6">
    {{#md-card title=card.frontText
        activator=true}}

        {{#md-card-content}}
        <a href="#" {{action 'deleteCard' card}} class="secondary-content">Delete</a>
        {{/md-card-content}}

        {{#md-card-reveal}}
            {{card.backText}}
        {{/md-card-reveal}}

    {{/md-card}}
    </div>
    </div>
</div>
{{/each}}


{{!-- {{#md-card title="Card Title"
    image="images/ember-cli-97c3f0d28532b75fa808f590062af5de.png"
    activator=true
    id="card-reveal"}}

    {{#md-card-content}}
        {{#link-to "cards"}}This is a Link{{/link-to}}
    {{/md-card-content}}

    {{#md-card-reveal}}
        Here is some more information about this product that is only revealed once clicked on.
    {{/md-card-reveal}}

{{/md-card}} --}}
