{{#md-navbar name='Flashyard' class='indigo'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'courses' tagName='li'}}
    {{link-to 'Courses' 'courses'}}
  {{/link-to}}
{{/md-navbar}}

<div class="container">
    {{outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
