<h2 id="title">Welcome to Ember</h2>

    <ul>
        <li>{{#link-to 'courses'}}Courses{{/link-to}}</li>

        <li>{{#link-to 'courses.card-sets.cards.index'}}Cards{{/link-to}}</li>
    </ul>

{{outlet}}


