{{#md-navbar name='Flashyard' class='blue-grey darken-3'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'courses' tagName='li'}}
    {{link-to 'Get Started' 'courses'}}
  {{/link-to}}
{{/md-navbar}}

<div class="background {{if background 'active' ''}}"></div>

<div class="container">
    {{liquid-outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

{{!--
<footer>
    <div class="container">

    </div>

    {{#md-copyright text='Copyright The Iron Yard - LR Class of 2015'
        startYear=2015
        class='white-text blue-grey darken-3'}}
        <a class="white-text right" href="http://theironyard.com/locations/little-rock/">
          More Links
        </a>
    {{/md-copyright}}
</footer> --}}
